.cardProducto {
    background: rgba(42, 233, 17, 0.8); 
    border-radius: 10px;
    width: 20rem;
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cardProducto img {
    width: 150px;
    object-fit: contain;
}

.cardProducto button {
    background-color: #ec0808;
    color: #b81111;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}