header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 15px solid rgb(8, 8, 8);
    background: radial-gradient(circle, rgb(0, 255, 4.2), blue);

}

.logoStore {
    width: 150px;
    border-radius: 35px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
