header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 15px solid rgb(34, 7, 184);
    background-color: hsla(117, 84%, 38%, 0.86);}

.logoStore {
    width: 150px;
    border-radius: 35px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
