.contenedorItem{
    text-align: center;
    border: 10px solid rgb(18, 9, 140);
    margin: 4rem;
    background-color: rgb(32, 247, 82);
    font-weight:bold;
    font-size: 20px;
}

img{
    width: 35vw;
}