.contenedorItem{
    text-align: center;
    border: 10px solid rgb(8, 8, 8);
    margin: 4rem;
    background: radial-gradient(circle, rgb(0, 255, 4.2), blue);
    font-weight:bold;
    font-size: 20px;
}

img{
    width: 35vw;
}